// Here you can add other styles
.login-bg-image {
    background-image: url('../assets/brand/logo.png');
    background-size: cover;
    background-position: center;
    color: white; /* Adjust text color for readability */
    background-color: #032032;
    object-fit: contain;
  }

.table .table-primary-base {
  background-color: #032032;
  color: #ffffff;
}
.custom-card-color {
  background-color: #39d790 !important;
  color: #ffffff;

}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-number {
  margin: 0 0px;
  cursor: pointer;
}

.page-number.active {
  font-weight: bold;
}